.icon {
	margin: 2px 4px;
	width: 16px;
	height: 16px;
	background: url(../img/icons.png);
}

.icon-mouse {
	background-position: 0px 0px;
}

.icon-keyboard {
	background-position: -16px 0px;
}

.icon-info {
	background-position: -32px 0px;
}

.icon-image {
	background-position: -48px 0px;
}

.icon-geometry {
	background-position: -64px 0px;
}

.icon-fail {
	background-position: -80px 0px;
}

.icon-pass {
	background-position: -96px 0px;
}

.icon-test {
	background-position: -112px 0px;
}

.icon-event {
	background-position: 0px -16px;
}

.icon-core {
	background-position: -16px -16px;
}

.icon-audio {
	background-position: -32px -16px;
}

.icon-3d {
	background-position: -48px -16px;
}